@import "tailwindcss";

@theme {}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

.signup-bg {
  position: relative;
  overflow: hidden;

}

.blur-ellipse {
  width: 1200px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #27274e 40%, #9e7fed 50%, transparent 100%);
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(330px);
  opacity: 0.8;
  z-index: 1;
}